paper.jar
paper-*.jar
cache/
libraries/
versions/
logs/
world/
world_nether/
world_the_end/
rtp/
backups/
*.log
session.lock
public-host.txt
server-plugin/build/
server-plugin/.gradle/
plugins/.paper-remapped/
plugins/PveAuction/
plugins/Essentials/userdata/
plugins/Essentials/uuids.bin
hs_err_pid*.log
config/paper-global.yml
config/paper-world-defaults.yml
plugins/Essentials/config.yml
