paper.jar
paper-*.jar
cache/
libraries/
versions/
logs/
world_nether/
world_the_end/
*.log
session.lock
public-host.txt
server-plugin/build/
server-plugin/.gradle/
plugins/.paper-remapped/
plugins/PveAuction/
plugins/Essentials/userdata/
plugins/Essentials/uuids.bin
hs_err_pid*.log
